<div class="dashboard">
  <div class="header">
      <h1 class="center">Add Task Form</h1>
      <mat-icon class="float-right" (click)="redirectToDashboard()">backspace</mat-icon>
  </div>
  <div class="task-list">
    <!-- <form>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter title">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Enter description"></textarea>
      </mat-form-field>
    
      <button mat-raised-button color="primary">Submit</button>
    </form> -->
  </div>
</div>
