<!-- dashboard.component.html -->

<div class="dashboard">
    <div class="header">
        <h1>Task Management Dashboard</h1>
    </div>
    <div class="task-list">
        <div class="filter-button-container">
          <div class="filter-container">
            <mat-form-field class="w-100">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
          </div>
          <div class="button-container">
            <button mat-raised-button (click)="addData()" class="demo-button">
              Add New Task
            </button>
          </div>
        </div>
          
        <table #table 
        mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">
            {{element.position}}
          </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
      
        <!-- Priority Column -->
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef>Priority</th>
          <td mat-cell *matCellDef="let element">{{element.priority}}</td>
        </ng-container>
      
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>
      
        <!-- Due Date Column -->
        <ng-container matColumnDef="duedate">
          <th mat-header-cell *matHeaderCellDef>Due Date</th>
          <td mat-cell *matCellDef="let element">{{element.duedate | date:'yyyy-MM-dd'}}</td>
        </ng-container>
      
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>
      
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <div>
              <button mat-icon-button title="Edit">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button title="Delete">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
      
        <!-- Define table header rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      
        <!-- Define table data rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      </table>
      
    </div>
</div>
  